# ============================== #
# SpaceCombatSimulation Specific #
# ============================== #
*.ods#
SpaceCombatSimulation/tmp/**/*
!SpaceCombatSimulation/Assets/Plugins/*.dll
!*.obj
Temp/
SpaceCombatSimulation/Assets/Database/SpaceCombatSimulationDB.s3db
SpaceCombatSimulation/Assets/Database/SpaceCombatSimulationDB.s3db.meta
SpaceCombatSimulation/Assets/Database/SpaceCombatSimulationDB.s3db-journal


# =============== #
# Unity generated #
# =============== #
SpaceCombatSimulation/[Tt]emp/
SpaceCombatSimulation/[Oo]bj/
SpaceCombatSimulation/[Bb]uild
/SpaceCombatSimulation/[Bb]uilds/
/SpaceCombatSimulation/[Ll]ibrary/
sysinfo.txt
*.stackdump
/SpaceCombatSimulation/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
SpaceCombatSimulation/[Ee]xported[Oo]bj/
.vs/
*.userprefs
/SpaceCombatSimulation/*.csproj
/SpaceCombatSimulation/*.pidb
*.pidb.meta
/SpaceCombatSimulation/*.suo
/SpaceCombatSimulation/*.sln*
/SpaceCombatSimulation/*.user
/SpaceCombatSimulation/*.unityproj
/SpaceCombatSimulation/*.booproj
.consulo/
/SpaceCombatSimulation/*.tmp
/SpaceCombatSimulation/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
SpaceCombatSimulation/Corridor/Library/ShaderCache/
SpaceCombatSimulation/Corridor/Library/metadata/
SpaceCombatSimulation/packages/
*.s3db
